.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.app-content {
  flex: 1;
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  min-height: 0;
  min-width: 0;
}

.mindmap-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
  min-height: 0;
  min-width: 0;
}

.mindmap-editor > * {
  flex: 1;
  min-height: 0;
  min-width: 0;
}
