.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.app-content {
  flex: 1;
  display: flex;
  overflow: hidden;
  background-color: #fafafa;
}

.mindmap-editor {
  flex: 1;
  display: flex;
  overflow: hidden;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
}
